
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#eye{
    margin-left: 5px;
    height:20px;
    width: 20px;
}

.mailingsAdd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.teste{
    display: flex;
    // justify-content:flex-end;
}
