<div class="container">
    <div class="row">
        <form class="form" id="form" >
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" name="name" >
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="exemplo@gmail.com" name="email">
              </div>
              <div class="form-group col-md-5 ">
                <label for="password">Senha</label>
                <div class="d-flex">
                    <input type="password" class="form-control" id="password" name="password" >
                    <img id="eye" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII="
                    />
                </div>
                
              </div>
              <div class="form-group col-md-6">
                <label for="account_name">Nome da Conta</label>
                <input type="text" class="form-control" id="account_name" name="account_name" >
              </div>
              <div class="form-group col-md-6">
                <label for="account_description">Descrição da Conta</label>
                <input type="text" class="form-control" id="account_description" name="account_description" >
              </div>
            </div>
            <div class="form-group">
              <label for="campaign_name">Nome da Campanha</label>
              <input type="text" class="form-control" id="campaign_name" name="campaign_name" >
            </div>
            <div class="form-group">
              <label for="campaign_description">Descrição da Campanha</label>
              <input type="text" class="form-control" id="campaign_description" name="campaign_description" >
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="key_adword">Id de Campanha</label>
                <input type="text" class="form-control" id="key_adword" name="key_adword" >
              </div>
              <div class="form-group col-md-4">
                <label for="origin">Origem</label>
                <select id="origin" class="form-control" >
                  <option selected>Google</option>
                  <option>Facebook</option>
                  <option>Orgânico</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="budget">Orçamento</label>
                <input type="text" class="form-control" id="budget" name="budget" >
              </div>
            </div>
            <div class="form-group">
                <label for="phonetrack">Telefone</label>
                <input type="text" class="form-control" id="phonetrack" name="phonetrack">
            </div>
            
            <div class="mailingsAdd">
              <h2>MAILINGS</h2>
              <button type="button" id="toAdd" class="btn btn-primary">Adicionar</button>
            </div>
            
            <hr>
            <div id="addform">
              <div class="form-row" id="form-row">
                <div class="form-group col-md-6" >
                  <label for="mailings_name">Nome</label>
                  <input type="text" class="form-control mailings_name" name="mailings_name-1" >
                </div>
                <div class="form-group col-md-6">
                  <label for="mailings_email">Email</label>
                  <input type="email" class="form-control mailings_email" name="mailings_email-1">
                </div>
              </div>
            </div>

            <div class="teste">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
    </div>
</div>